@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-VariableFont_wght.ttf');
}

:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;

    background-color: var(--slate-300);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Outfit';
}

.qr-container {
    display: flex;
    flex-direction: column;
    gap: 24px;


    background-color: white;
    max-width: 320px;
    padding: 16px;
    padding-bottom: 40px;

    text-align: center;

    box-shadow: 8px 10px 15px -3px hsl(218, 44%, 22%, 10%);
    border-radius:20px;

}

.qr-container div {
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

img {
    width: 288px;
    object-fit: cover;
    border-radius: 10px;
}

.qr-title {
    font-size: 22px;
    font-weight: 700;
    color: var(--slate-900);
    line-height: 120%;
}

.qr-text {
    font-size: 15px;
    font-weight: 400;
    color: var(--slate-500);
    line-height: 140%;
}